@font-face {
  font-family: "ModeSeven";
  src: url("./fonts/ModeSeven.ttf") format("truetype");
}

@font-face {
  font-family: "Neuropolitical";
  src: url("./fonts/Neuropolitical.otf") format("truetype");
}
* {
  font-family: "ModeSeven", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
}

:root {
  overflow-x: hidden;
  --primary-color: #5cff9d;
  --secondary-color: #ffe100;
  --background-color: #0b1510;
}

body {
  transition: all;
  color: var(--primary-color);
  animation: coolBg 1.5s ease;
  padding: 3em;
  background-color: var(--background-color);
  -webkit-animation: coolBg 0.5s ease-in;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
}

@keyframes coolBg {
  0% {
    background-color: rgb(214, 0, 0);
  }

  33% {
    background-color: var(--secondary-color);
  }

  66% {
    background-color: rebeccapurple;
  }
  100% {
    background-color: var(--background-color);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#date-time {
  font-size: 2.9rem;
  z-index: -2;
}

.lokiImg {
  z-index: 1;
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 100vh;
  animation: entry 0.5s ease-in both;
  -webkit-animation: entry 0.5s ease-in both;
}

.lokiImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes entry {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
  }
}

.websiteTitle {
  margin-left: 2rem;
  z-index: -2;
  padding: 0.5em;
  flex-grow: 1;
  text-align: right;
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.title h1.firstName {
  z-index: 1;
}

.title h1.lastName {
  position: relative;
  z-index: 9;
}

.title h1 {
  animation: entry-left 5s ease-in both;
  font-family: "Neuropolitical";
  color: var(--secondary-color);
  -webkit-animation: entry-left 0.5s ease-in both;
}

@keyframes entry-left {
  0% {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.firstName {
  font-size: 18rem;
}
.lastName {
  line-height: 0.55;
  font-size: 16rem;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameInJapanese {
  animation: entry 0.5s ease-in both;
  z-index: 2;
  position: absolute;
  font-size: 2em;
  color: var(--background-color);
  transform: skew(-20deg);
  text-align: right;
  padding: 0.5rem 3rem;
  background-color: var(--primary-color);
  backdrop-filter: blur(1rem);
  bottom: 0%;
  right: 1%;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  overflow: hidden;
}

.info-col {
  animation: entry-left 0.5s ease-in;
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 60%;
  -webkit-animation: entry-left 0.5s ease-in;
}

.middle-section {
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.middle {
  border: 2px solid var(--primary-color);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.helmet {
  width: 10rem;
}

.helmet-desc {
  h1 {
    font-size: 2rem;
    font-family: "Neuropolitical";
  }
}
.bottom {
  padding: 2rem 0rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.skills-section {
  display: flex;
  gap: 2rem;
}

.skills {
  border-radius: 1rem;
  border: 4px solid var(--primary-color);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.skills:hover {
  border: 4px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-radius: 0;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.miss-minutes {
  width: 10rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
}

hr {
  width: 33%;
  margin: auto;
  border: 1px solid rgba(92, 255, 157, 0.155);
}

.footer {
  padding: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.skills a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--background-color);
}

/* LANDSCAPE TABLETS */
@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 2rem;
  }

  .lokiImg {
    height: 100vh;
    right: -20%;
  }

  .firstName {
    font-size: 12rem;
  }
  .lastName {
    font-size: 11rem;
  }
  #date-time {
    font-size: 2rem;
  }

  .websiteTitle {
    margin-left: 0%;
    font-size: 1rem;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  .nameInJapanese {
    font-size: 1.2rem;
    right: -5%;
    overflow-y: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem 0.5rem;
  }
}

/* TABLETS */
@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .lokiImg {
    height: 100vh;
    right: -40%;
  }

  .firstName {
    font-size: 10rem;
  }
  .lastName {
    font-size: 9rem;
  }
  #date-time {
    font-size: 2rem;
  }

  .websiteTitle {
    margin-left: 0%;
    font-size: 1rem;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  .nameInJapanese {
    font-size: 1.2rem;
    right: -5%;
    overflow-y: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem 0.5rem;
  }
}

/* PHONE */
@media all and (max-width: 480px) {
  body {
    padding: 0.3rem;
  }

  .lokiImg {
    height: 100vh;
    right: -80%;
  }

  .firstName {
    font-size: 6rem;
  }
  .lastName {
    font-size: 4rem;
  }
  #date-time {
    font-size: 1rem;
  }

  .websiteTitle {
    margin-left: 0%;
    font-size: 0.5rem;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  .nameInJapanese {
    font-size: 0.8rem;
    right: -10%;
    overflow-y: hidden;
  }

  .info-col {
    padding: 3rem 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem 0.5rem;
  }
}
